.main {
	height: 100%; //NAO REMOVER
	background-image: url(https://loremflickr.com/800/600/dog);
	//background-color: black;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

/**

.content {
	display: flex;
	padding-top: 12px;
	box-sizing: border-box;
	flex: 1 0;
}
.sideBar {
	flex: 1;
	margin-right: 12px;
}
.list {
	flex: 1;
}
.scroller {
    //height: 800px;
    //width: 800px;
}
*/