.main {
	position: absolute;
	margin: 0 auto;
	width: 100%; //NAO REMOVER
	height: 100%; //NAO REMOVER

	//background-image: url(https://loremflickr.com/800/600/universe);
	//background:linear-gradient(-120deg, #e50914, #221f1f, #f5f5f1);
	background-color: #221F1F;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.sideBar{
	display: grid; //divide o menu em partes iguais
	position: relative;
	top: 0;
	left: 0;
	//vertical-align: middle;
	background-color: #221F1F;
	//opacity: 0.2;	
}

.content{
	display: block;
	position: absolute;
	top: 0px;
	//left: -30px;
	padding-left: 0px;
}


/**

.content {
	display: flex;
	padding-top: 12px;
	box-sizing: border-box;
	flex: 1 0;
}
.sideBar {
	flex: 1;
	margin-right: 12px;
}
.list {
	flex: 1;
}
.scroller {
    //height: 800px;
    //width: 800px;
}
*/