/*
 * File: SettingsPanel.module.less
 * Project: kodi2webos
 * File Created: Thursday, 11th June 2020 6:41:19 pm
 * Author: valverde82 (valverde.marcelo@gmail.com)
 * -----
 * Last Modified: Thursday, 11th June 2020 6:41:50 pm
 * Modified By: valverde82 (valverde.marcelo@gmail.com>)
 * -----
 * Copyright 2020 © VALVERDE, Marcelo Richard. All Rigths Reserved.
 */

 @font-face {
	font-family: NetflixSans;
	src: local(NetflixSans), url('../../assets/fonts/NetflixSans_W_Rg.woff2');
}

.container {
	margin: 0 auto;
	width: 80%;
	margin-top: 5%;
 }

 .label{
	font-family: NetflixSans;
 }

 .input{
	font-family: NetflixSans;
 }

 .radioGroup{
	font-family: NetflixSans;
 }

