@font-face {
	font-family: NetflixSans;
	src: local(NetflixSans), url('../../assets/fonts/NetflixSans_W_Rg.woff2');
}

.app {
	// styles can be put here
	font-family: NetflixSans;
	background-color: #221F1F;
}