/*
 * File: Body.module.less
 * Project: kodi2webos
 * File Created: Friday, 8th May 2020 7:35:34 pm
 * Author: valverde82 (valverde.marcelo@gmail.com)
 * -----
 * Last Modified: Wednesday, 10th June 2020 3:26:31 pm
 * Modified By: valverde82 (valverde.marcelo@gmail.com>)
 * -----
 * Copyright 2020 © VALVERDE, Marcelo Richard. All Rigths Reserved.
 */

@font-face {
	font-family: NetflixSans;
	src: local(NetflixSans), url('../../assets/fonts/NetflixSans_W_Rg.woff2');
}

.body {
	height: 100%; //NAO REMOVER
	font-family: NetflixSans;
	color: #F5F5F1;
}

.containerDetails{
	height: 40%;
}

.containerVerticalScrooller{
	height: 60%;
	//margin-bottom: 5px;
}

.containerList {
	height: auto; //compacta a altura de cada lista
}