/*
 * File: Details.module.less
 * Project: kodi2webos
 * File Created: Tuesday, 2nd June 2020 7:42:51 pm
 * Author: valverde82 (valverde.marcelo@gmail.com)
 * -----
 * Last Modified: Wednesday, 10th June 2020 3:26:47 pm
 * Modified By: valverde82 (valverde.marcelo@gmail.com>)
 * -----
 * Copyright 2020 © VALVERDE, Marcelo Richard. All Rigths Reserved.
 */

 @font-face {
  font-family: NetflixSans;
  src: local(NetflixSans), url('../../assets/fonts/NetflixSans_W_Rg.woff2');
}

.content {
  font-family: NetflixSans;
  font-size: 1rem;
  color: #999;
  font-weight: 700;
  //background-color: black;
  background-image: linear-gradient(to bottom,transparent,  black, transparent);
  opacity: 0.6;
}