/* Grid */
.gridList {
    display: grid;
    max-width: 100%;
	margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(20%, auto));
    //grid-template-columns: repeat(auto-fit, 20%);
}

.grid {
    height: auto;
}

