.item {
	//display: block;
	padding: 30px;
	padding-right: 10px; //corrige o afastamento do ultimo item da linha horizontal
	text-align: center;
	width: max-content;

	//border-color: whitesmoke;
}

.selected{
	font-weight: bold;
	color: red;
}