/*
 * File: List.module.less
 * Project: kodi2webos
 * File Created: Wednesday, 27th May 2020 7:39:58 pm
 * Author: valverde82 (valverde.marcelo@gmail.com)
 * -----
 * Last Modified: Wednesday, 10th June 2020 3:27:41 pm
 * Modified By: valverde82 (valverde.marcelo@gmail.com>)
 * -----
 * Copyright 2020 © VALVERDE, Marcelo Richard. All Rigths Reserved.
 */

 @font-face {
	font-family: NetflixSans;
	src: local(NetflixSans), url('../../assets/fonts/NetflixSans_W_Rg.woff2');
}

.title {
	margin-left: 5vw;
	background-color: black;
	font-family: NetflixSans;
	color: #F5F5F1;
}

/**

.list {
	height: auto;
}

.horizontalScroolBox {
	
}

**/